fastapi
uvicorn[standard]
python-dotenv
pydantic
requests
redis>=4.5.1
sqlalchemy
psycopg2-binary
python-jose[cryptography]
passlib[bcrypt]
sentence-transformers
faiss-cpu
qdrant-client
transformers
torch
torchaudio
TTS
aiofiles
typing-extensions
python-multipart
PyJWT
openai
pytesseract
pdf2image
PyPDF2
beautifulsoup4
nltk
pillow
soundfile
aioredis
langdetect
pymupdf
pdfminer.six
indic-transliteration>=1.5
yt_dlp
google-generativeai >= 0.4.0
tenacity>=8.2.2